# API Base URL
BASE_URL=https://be-apple-store.eka-dev.cloud

# Google OAuth Client IDs
GOOGLE_CLIENT_ID=897905079551-0bm5skv53tbcpqobtlkaatmfheftthc4.apps.googleusercontent.com
GOOGLE_IOS_CLIENT_ID=897905079551-cij7kf0fpf5smbejqthd8l488alv6siv.apps.googleusercontent.com
GOOGLE_SERVER_CLIENT_ID=897905079551-0bm5skv53tbcpqobtlkaatmfheftthc4.apps.googleusercontent.com

# Telemetry & Logging (Loki)
LOKI_URL=https://loki.eka-dev.cloud/loki/api/v1/push
